@media screen and (max-width: 1440px){
    #about .lt-flex-row {
        flex-direction: column!important;
    }
    .event-year>button{
        padding: 0.75rem 0rem;

    }
    .event{
        padding: 0.5rem 0rem 1rem 0.5rem;
    }
}
@media all and (max-width: 725px) {
    .highlight{
        left: 0px!important;
        font-size: smaller!important;
    }
    .img-container{
        margin-left: 0px!important;
    }
    h1 {
        font-size: 3em !important;
    }
    .lt-content-column {
        padding: 2vh 20vw;
    }
}
@media all and (max-width: 450px) {
    .mobile-only {
      display: inline-block !important;
    }
  
    h1 {
      font-size: 2em !important;
    }
  
    h3 {
      font-size: 1em !important;
    }
  
    p {
      font-size: 1em !important;
    }
  
    .mobile-hide {
      display: None !important;
    }
  
    #about, #timeline, #projects{
      padding: 0 5vw 30px 5vw !important;
    }
    .lt-content-column {
        padding: 2vh 15vw;
    }
  }